/* App.css */

.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.Chat {
  width: calc(100% - 110px);
  margin-right: 10px;
  padding: 5px;
}

.Chatsend, .Chatread {
  padding: 5px 10px;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 150px;
  margin-top: 10px;
}

hr {
  margin: 20px 0;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}
